.deck {
  display: -webkit-flex;
  display: flex;
  border: 1px solid black;
  width: fit-content;
  height: 19vh;
  padding: 2vh;
  align-items: center;
  margin-right: 18vh;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.reserved-deck {
  height: 21vh;
  width: 15vh;
  border: 1px solid;
  position: relative;
}

.reserved-deck > div {
  position: absolute;
}

.pile-card {
  position: absolute;
}

.horizontal-layer {
  display: flex;
  width: 100%;
}

.piles {
  display: flex;
}

.card {
  height: 19vh;
  width: 15vh;
  font-size: 21vh;
  line-height: 0.7;
  user-select: none;
  background: white;
  border: black 1px solid;
}

.pile {
  width: 20vh;
  margin: 1vh;
  position: relative;
}

body {
  padding: 1vh;
}

.tableau {
  margin-top: 2vh;
}
